@font-face {
  font-family: iransanse;
  src: url(../fonts/IRANSansWeb.ttf);
}
@font-face {
  font-family: DimaWeb;
  src: url(../fonts/DimaWeb.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: iransanse;
  letter-spacing: 0em;
  line-height: 1.58;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: DimaWeb !important;
}

header {
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
header#posts-header {
  background: url(../images/blog-02.jpg);
  background-size: cover;
}
header#services-header {
  height: 100vh;
  background-image: url("../images/images\ \(4\).jpg");
  background-size: cover;
  position: relative;
}
header#about-us-header {
  background: url("../images/OIP\ \(1\).jpg") no-repeat scroll;
  background-size: 135%;
  position: relative;
}
@media screen and (max-width: 1044px) {
  header#about-us-header {
    background-size: cover;
  }
}
#about-us-header .container-fluid {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
header#pricing-header {
  background-image: url("../images/about-us-03-image-02 (1).jpg");
  background-size: 100% 100%;
}
header#portfolio-header {
  background-image: url("../images/about-us-03-image-02 (1).jpg");
  background-size: 100% 100%;
}
header#single-post-header {
  background-image: url("../images/about-us-03-image-02 (1).jpg");
  background-size: 100% 100%;
}

header .container {
  position: inherit;
}
.scroll {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  transition: 0.5s;
}
nav {
  line-height: 4rem;
}
.tm-header-content {
  padding: 15% 0 90px 0;
}
.tm-header-content h2 {
  font-size: 50px;
}
.nav-main {
  display: flex;
  justify-content: space-between;
}
.nav-item {
  list-style: none;
}
.nav-item a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  margin-right: 15px;
}
.nav-item a:hover {
  color: white;
  text-decoration: none;
}

.nav-item a i {
  margin-right: 5px;
}

.icon-tan a {
  font-size: 14px;
  margin-left: 10px;
  color: white;
  text-decoration: none;
}
.icon-tan a:hover {
  color: white;
  text-decoration: none;
}

.menu-bars {
  display: none;
  font-size: 30px;
  color: white;
  font-weight: 400;
  z-index: 1000;
}
.navigation {
  display: none;
}
@media screen and (max-width: 1100px) {
  .menu-bars {
    display: block;
    margin-left: 40px;
  }
  .nav-main {
    display: none;
  }
  #nav-item-1,
  #nav-item-2,
  #nav-item-3,
  #nav-item-4,
  #nav-item-5,
  #nav-item-6 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .title-brand img {
    width: 100px;
  }
}
@media screen and (max-width: 414px) {
  .menu-bars {
    margin-left: 30px !important;
  }
}

/*-------------------------------------responsive menu----------------------------------------------*/

#mask {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  z-index: 3000;
  height: 100%;
  width: 100%;
}
.navigation {
  display: block;
  position: fixed;
  top: 100px;
  right: 0;
  text-align: right;
  height: 100vh;
  width: 320px;
  background: rgb(12, 9, 9);
}
.title-brand {
  position: fixed;
  right: 0px;
  top: 0;
  background: white;
  width: 320px;
  height: 100px;
}
.title-brand a {
  text-decoration: none;
  font-weight: 900;
  color: black;
  float: right;
  position: absolute;
  right: 10px;
  top: 30px;
}
.title-brand i {
  font-size: 25px;
  color: black;
  float: left;
  position: absolute;
  top: 30px;
  left: 40px;
}
.title-brand a:hover {
  text-decoration: none;
  color: #333;
}
.navigation .menu {
  width: 320px;
  position: absolute;
  top: 10px;
  height: 100%;
  background: rgb(12, 9, 9);
  left: -800px;
}
.navigation .menu li {
  height: 50px;
  list-style: none;
  padding-bottom: 10px;
}
.navigation .menu li a {
  text-decoration: none;
  color: #777;
  font-size: 14px;
}
.navigation .menu li:hover a {
  text-decoration: none;
  color: white;
}
.navigation .sub-menu {
  background: rgb(12, 9, 9);
  padding: 0;
}

.menu .item-sub-menu i {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #444;
  float: left;
  color: #999;
  text-align: center;
  top: 50%;
}
.menu .item-sub-menu i::before {
  text-align: center;
  vertical-align: -9px;
  top: 50%;
}

/*---------------------------------------mega menu-----------------------------------------*/
.navbar-main {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 30px;
}
.navbar-main > ul {
  position: relative;
  display: flex;

  margin: 0 auto;
}
.navbar-main ul img {
  width: 85%;
  margin-top: 40px;
}
.navbar-main ul li {
  transition: 1s;
}
.navbar-main ul li a {
  padding: 10px 10px;
}

.navbar-main ul li.dropdown > a:after {
  position: relative;
  float: right;

  margin-left: 10px;
  content: "";
  margin-top: 35px;
}

/*-------------footer------------------------*/
footer {
  background: rgb(10, 10, 10);
  color: #fff;
  text-align: center;
  padding-top: 20px;
}
footer.row{
  direction: ltr;
}
footer img {
  padding: 10px;
}
.social i {
  font-size: 25px;
  color: white;
  padding: 20px;
  transition: .2s;
}
.social i:hover{
  color: #0038e3;
}
footer .designer{
  padding-bottom: 20px;
}
#btn-up {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #0038e3;
  border: none;
  float: right;
  position: fixed;
  bottom: 20px;
  right: 30px;
  opacity: 1;
  transition: 0.5s;
  z-index: 1000;
  text-align: center;
}

#btn-up i {
  color: white;
  position: absolute;
  top: 30%;
  left: 40%;
}
.footer-list a {
  color: #999;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  margin-right: -5px;
  position: relative;
}
.footer-list a:hover {
  color: white;
  text-decoration: none;
}
.footer-list a:after {
  position: absolute;
  content: "";
  bottom: 0px;
  right: 0;
  height: 2px;
  width: 40%;
  background: rgb(247, 246, 246);
  transform-origin: right bottom;
  transform: scale(0);
  transition: transform 0.2s linear;
}
.footer-list a:hover:after,
.footer-list a:active:after {
  transform: scale(1);
  transform-origin: left bottom;
  transition: transform 0.2s linear;
}
@media screen and (max-width: 1000px) {
  .footer-list a:after {
    width: 100px !important;
  }
}

/*--------------------------------loading----------------------------------*/

.loader {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  right: 0; /*left*/
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: white;
}
.loader > div {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 8px solid rgb(69, 85, 236), #0038e3;
  border-top: 8px solid rgb(100, 112, 218);
  position: absolute;
  top: 47%;
  right: 47%;
  animation: loader 2s linear infinite;
}
@keyframes loader {
  0% {
    transform: translate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes myloader {
  0% {
    transform: translateY(0);
    transition-duration: 0;
  }

  100% {
    transform: translateY(-100%);
    transition-duration: 2s;
  }
}
/*----------------------correct loader--------------------------------*/
@media screen and (max-width: 830px) {
  .loader {
    max-width: 100vw !important;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0px;
    z-index: 1100;
    display: flex;
  }
  .loader > div {
    position: absolute;
    top: 45%;
    right: 42%;
  }
}
@keyframes anime {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0px);
  }
}
/*--------------scrollbar-----------------------*/
#scrollbar {
  width: 100%;
  height: 100vh;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#0038e3, rgb(164, 170, 224));
  border-radius: 0 0 4px 4px;
}

/* pricing page */
body#pricing-body {
  background: #f5f5f5;
}
